.git
**/node_modules
**/__pycache__
**/.pytest_cache
**/.venv
**/*-venv
**/myenv
frontend/dist
backend/alphanumeric.db
backend/tests/*.db
backend/static
backend/media/documents
backend/media/products
**/*.pyc
*.zip
.env
**/.env
.env.*
**/.env.*
